@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700');

/* RTL support */

html {

	&[dir="rtl"] {

		.nav-tabs .tabs,
		.navbar .nav,
		.nav-tabs:not(.nav-stacked) > li,
		.nav-pills > li,
		.radio input[type="radio"],
		.checkbox input[type="checkbox"] {
			float: right;
		}

		.dropdown .caret {
			margin-left: 0;
			margin-right: 2px;
		}

		.list-striped,
		.row-striped,
		.table th,
		.table td,
		.popover {
			text-align: right;
		}

		.radio input[type="radio"],
		.checkbox input[type="checkbox"] {
			margin-left: 10px;
		}

		.contact-category {

			.list-title {
				margin-top: 30px;
			}
		}

		ul {

			&.category,
			&.nav {
				margin-right: 0;
			}
		}

		.dl-horizontal {

			dd {
				margin-right: 40px;
			}

			dt {
				float: right;
				text-align: left;
				clear: right;
				margin-right: 0;
				margin-top: 0;
			}
		}

		.form-horizontal {

			.control-label {
				float: right;
				width: auto;
				padding-left: 5px;
				padding-right: 0;
				text-align: right;
			}
		}

		dd {

			&.tabs {
				margin-left: 0;
				margin-right: 0;
			}
		}

		.pull-left.item-image {
			margin-right: 0 !important;
			margin-left: 1em !important;
		}

		.pull-right.item-image {
			margin-right: 1em !important;
			margin-left: 0 !important;
		}

		.btn-group > .btn:first-child,
		.radio.btn-group > label:first-of-type {
			-webkit-border-bottom-left-radius: 0;
			border-bottom-left-radius: 0;
			-webkit-border-top-left-radius: 0;
			border-top-left-radius: 0;
			-moz-border-radius-bottomleft: 0;
			-moz-border-radius-topleft: 0;
			-webkit-border-bottom-right-radius: @baseBorderRadius;
			border-bottom-right-radius: @baseBorderRadius;
			-webkit-border-top-right-radius: @baseBorderRadius;
			border-top-right-radius: @baseBorderRadius;
			-moz-border-radius-bottomright: @baseBorderRadius;
			-moz-border-radius-topright: @baseBorderRadius;
		}

		.btn-group > .btn:last-child,
		.btn-group > .dropdown-toggle {
			-webkit-border-top-right-radius: 0px;
			border-top-right-radius: 0px;
			-webkit-border-bottom-right-radius: 0px;
			border-bottom-right-radius: 0px;
			-moz-border-radius-topright: 0px;
			-moz-border-radius-bottomright: 0px;
			-webkit-border-top-left-radius: @baseBorderRadius;
			border-top-left-radius: @baseBorderRadius;
			-webkit-border-bottom-left-radius: @baseBorderRadius;
			border-bottom-left-radius: @baseBorderRadius;
			-moz-border-radius-topleft: @baseBorderRadius;
			-moz-border-radius-bottomleft: @baseBorderRadius;
		}

		.btn-group > .btn.large:first-child {
			-webkit-border-bottom-left-radius: 0px;
			border-bottom-left-radius: 0px;
			-webkit-border-top-left-radius: 0px;
			border-top-left-radius: 0px;
			-moz-border-radius-bottomleft: 0px;
			-moz-border-radius-topleft: 0px;
			margin-right: 0;
			-webkit-border-bottom-right-radius: @borderRadiusLarge;
			border-bottom-right-radius: @borderRadiusLarge;
			-webkit-border-top-right-radius: @borderRadiusLarge;
			border-top-right-radius: @borderRadiusLarge;
			-moz-border-radius-bottomright: @borderRadiusLarge;
			-moz-border-radius-topright: @borderRadiusLarge;
		}

		.btn-group > .btn.large:last-child,
		.btn-group > .large.dropdown-toggle {
			-webkit-border-top-right-radius: 0px;
			border-top-right-radius: 0px;
			-webkit-border-bottom-right-radius: 0px;
			border-bottom-right-radius: 0px;
			-moz-border-radius-topright: 0px;
			-moz-border-radius-bottomright: 0px;
			-webkit-border-top-left-radius: @borderRadiusLarge;
			border-top-left-radius: @borderRadiusLarge;
			-webkit-border-bottom-left-radius: @borderRadiusLarge;
			border-bottom-left-radius: @borderRadiusLarge;
			-moz-border-radius-topleft: @borderRadiusLarge;
			-moz-border-radius-bottomleft: @borderRadiusLarge;
		}

		.btn-group > .btn:first-child:last-child {
			-webkit-border-top-left-radius: @baseBorderRadius;
			border-top-left-radius: @baseBorderRadius;
			-webkit-border-bottom-left-radius: @baseBorderRadius;
			border-bottom-left-radius: @baseBorderRadius;
			-moz-border-radius-topleft: @baseBorderRadius;
			-moz-border-radius-bottomleft: @baseBorderRadius;
			-webkit-border-bottom-right-radius: @baseBorderRadius;
			border-bottom-right-radius: @baseBorderRadius;
			-webkit-border-top-right-radius: @baseBorderRadius;
			border-top-right-radius: @baseBorderRadius;
			-moz-border-radius-bottomright: @baseBorderRadius;
			-moz-border-radius-topright: @baseBorderRadius;
		}

		.input-prepend .add-on:first-child,
		.input-prepend .btn:first-child {
			.border-radius(0 @borderRadiusSmall @borderRadiusSmall 0);
		}

		.input-append input,
		.input-append select,
		.input-append .uneditable-input {
			.border-radius(0 @borderRadiusSmall @borderRadiusSmall 0);
		}

		.input-append .add-on:last-child,
		.input-append .btn:last-child {
			.border-radius(@borderRadiusSmall 0 0 @borderRadiusSmall);
		}

		.input-prepend.input-append input,
		.input-prepend.input-append select,
		.input-prepend.input-append .uneditable-input {
			.border-radius(0);
		}

		.input-prepend.input-append .add-on:first-child,
		.input-prepend.input-append .btn:first-child {
			.border-radius(0 @borderRadiusSmall @borderRadiusSmall 0);
		}

		.input-prepend.input-append .add-on:last-child,
		.input-prepend.input-append .btn:last-child {
			.border-radius(@borderRadiusSmall 0 0 @borderRadiusSmall);
		}

		.input-prepend input,
		.input-prepend select,
		.input-prepend .uneditable-input {
			.border-radius(@borderRadiusSmall 0 0 @borderRadiusSmall);
		}
	}
}

body {
	background: @color_four;

	> .container {
		.box-shadow(0 0 3px #ccc);

		.inner-wrapper {
			margin: 0 auto;
			position: relative;
		}
	}

	> .container,
	> .container-fluid {
		background: @white;
	}
}

a {
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

p {
	margin-bottom: 30px;
	line-height: 21px;
}

.readmore {

	.btn {

		.icon-chevron-right {
			display: none;
		}
	}
}

[class*="custom"] {

	p {

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	border: 1px solid @color_six;
	background: transparent;
	.box-shadow(none);
	.border-radius(2px);
	color: @color_three;

	&:focus {
		border: 1px solid darken(@color_six, 10%);
		.box-shadow(none);
	}
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	padding: 10px 15px;
	line-height: 30px;
	height: 42px;
}

::-webkit-input-placeholder {
	color: darken(@color_six, 25%);
}

::-moz-placeholder {
	color: darken(@color_six, 25%);
}

:-ms-input-placeholder {
	color: darken(@color_six, 25%);
}

:-moz-placeholder {
	color: darken(@color_six, 25%);
}

/* Custom classes */

.medium-text {
	font-size: 16px;
	color: @color_six;
}

.heading {
	margin-bottom: 30px;
}

.white-text {
	color: @white;
}

.color-one {
	color: @color_one;
}

.color-two {
	color: @color_two;
}

.color-three {
	color: @color_three;
}

.color-four {
	color: @color_four;
}

.color-five {
	color: @color_five;
}

.color-six {
	color: @color_six;
}

/* Buttons */

.btn {
	.box-shadow(none);
	border: none;
	color: @white;
	text-shadow: none;
	font-family: @serifFontFamily;
	text-transform: uppercase;
	padding: 6px 16px;

	&:hover,
	&:focus,
	&:active {
		color: @white;
		.box-shadow(none);
	}
}

.btn-large {
	padding: 13px 26px;
}

/* Menus */

.toolbar-menu-toggle {
	background: @linkColor;
	.border-radius(0 0 @baseBorderRadius @baseBorderRadius);
	float: right;
	padding: 3px 14px;

	i {
		font-size: @baseFontSize + 2;
	}

	&:hover,
	&:focus,
	&:active {
		background: @linkColor;
	}
}

#menu {

	.navbar {

		.nav {

			li {

				&.dropdown {

					> a {

						.caret{

							&:before {
								color: @color_two;
							}
						}
					}
				}
			}
		}
	}
}

.navbar {
	font-family: @serifFontFamily;
	text-transform: uppercase;

	.nav > .active {

		> a,
		> a:hover,
		> a:focus {
			.box-shadow(none);
		}

		> li {

			> a {
				text-shadow: none;
			}
		}
	}
}

.navbar-inverse {

	.nav {

		> li {

			> a {
				text-shadow: none;
			}

			&.dropdown {

				> a {
					padding-right: 20px;
				}
			}
		}
	}
}

.dropdown-menu {
	border: none;
	.box-shadow(none);
	.border-radius(0);
	padding: 0;

	li {

		> a {
			padding: 8px 15px;
		}
	}

	&:before,
	&:after {
		border: none !important;
	}

	.dropdown-menu {
		.border-radius(0);
	}
}

.nav {

	> li {

		&.dropdown {

			> a {

				.caret {
					border: none;

					&:before {
						content: "\f107";
						font-family: FontAwesome;
						font-size: 18px;
						top: 10px;
						position: absolute;
						margin: 0 3px;
					}
				}

				/*&:hover,
				&:active,
				&:focus {

					.caret {

						&:before {
							content: "\f106";
						}
					}
				}*/
			}
		}
	}
}

.navbar-fixed-top,
.navbar-fixed-bottom {
	right: unset;
	left: unset;
}

/* Sections */

.toolbar-menu {
	border-bottom: 6px solid @color_one;

	#toolbar {

	}
}

#header {

	#logo {

		img {
			height: 100px;
			width: auto;
		}
	}
}

#grid-bottom,
#grid-bottom2,
#grid-bottom3 {

	> [class*="row"] {

		> [class*="module"] {

			> div {
				padding: 40px;
				background-size: cover;
				background-position: center;
			}
		}
	}
}

#grid-bottom {
	border-top: 1px solid @white;
	.box-shadow(0 -1px 0 #ccc);
}

#grid-bottom,
#grid-bottom2,
#grid-bottom3,
#featured {

	.jss-slider {
		margin: 0 auto;
		display: block;

		.jss-navigation {

			.jss-navigation-buttons {

				[class*="owl-"] {
					transform: rotate(0deg) !important;
					-moz-transform: rotate(0deg) !important;
					-webkit-transform: rotate(0deg) !important;
					border: none !important;
					background: @linkColor;
					text-indent: 0;

					&:focus,
					&:active,
					&:hover {
						background: @linkColorHover;
					}
				}

				.owl-prev {

					&:before {
						content: "\f104";
					}
				}

				.owl-next {

					&:before {
						content: "\f105";
					}
				}

				.owl-prev,
				.owl-next {
					width: 50px !important;
					height: 50px !important;

					&:before {
						display: block;
						font-family: FontAwesome;
						font-weight: normal;
						font-style: normal;
						font-size: 22px;
						color: @white;
						line-height: 50px;
					}
				}
			}
		}

		.jss-navigation-dots {

			.owl-dot {

				> div {
					height: 8px !important;
					background: @color_one;

					> span {
						display: none;
					}
				}

				&.active {

					> div {
						background: @color_five;
					}
				}
			}
		}

		.owl-carousel {

			.jss-title-description {

				.jss-title,
				.jss-description {
					-webkit-flex-grow: 0;
					-moz-flex-grow: 0;
					-ms-flex-grow: 0;
					-o-flex-grow: 0;
					flex-grow: 0;
					margin-bottom: 20px;

					p {
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}

#grid-bottom3 {
	border-top: 1px solid @white;
	.box-shadow(0 -1px 0 #ccc);
}

#featured {
	border-bottom: 1px solid @white;
	.box-shadow(0 1px 0 #ccc);


	> [class*="moduletable"] {

		> div {
			padding: 40px;
			background-size: cover;
			background-position: center;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: @textColor;
		text-transform: uppercase;
	}
}

#footer {

	> .container {
		.box-shadow(0 0 3px #ccc);
	}

	.footer-content {
		background: @color_three;
		color: @white;
		padding-top: 30px;
	}

	.navbar {
		margin-bottom: 0;

		.navbar-inner {
			.box-shadow(none);

			.nav {
				float: none;
				margin: 0 auto;
				text-align: center;


				> .active {

					> a,
					> a:hover,
					> a:focus,
					> a:active {
						background: transparent;
						color: @color_five;
					}
				}

				> li {
					float: none;

					> a {
						color: @white;
						padding: 6px 15px;

						&:hover,
						&:focus,
						&:active {
							background: transparent;
							color: @color_five;
						}
					}

					.dropdown-menu {
						display: block;
						float: none;
						position: relative;

						li {

							> a {
								padding: 6px 15px;
							}
						}
					}

					&.dropdown {

						> a {

							.caret {

								&:before {
									top: 5px;
								}
							}
						}
					}
				}
			}
		}
	}

	.wrapper-bottom-menu {
		z-index: 1;
		position: relative;

		> [class*="container"] {
			background: @color_three;
			padding-top: 80px;
		}
	}
}

/* Easy Social icons */

#easy-social-icons {

	.jssocialicons-horizontal{
		.clearfix();
		margin-left: 0;

		> li {
			display: inline-block;
			float: none !important;
		}
	}

	ul.jssocialicons > li > a {

		&.iconset-circular {
			background: @color_two;
			color: @color_three;

			&:hover,
			&:focus,
			&:active {
				background: darken(@color_two, 5%);
				color: @color_three;
			}
		}
	}

	div.jssocialicons-after {
		margin-top: 40px;
	}

	div.jssocialicons-after,
	div.jssocialicons-before {
		font-size: 0.8em;
	}
}

/* Go to top */

#go-top {
	position: absolute;
	left: 50%;
	top: -20px;

	.go-top-button {
		position: relative;
		left: -50%;
		z-index: 5;
		width: 40px;
		height: 40px;
		background: @linkColor;
		display: block;
		.border-radius(50%);
		text-align: center;
		line-height: 35px;
		font-size: 28px;
		color: @white;

		&:hover,
		&:focus,
		&:active {
			background: @linkColorHover;
		}
	}
}

.go-top-label {
	position: absolute;
	left: 50%;
	top: 35px;

	div {
		position: relative;
		left: -50%;
		z-index: 5;
		width: 100px;
		height: 20px;
		display: block;
		font-size: 10px;
		color: @white;
		text-transform: uppercase;
		line-height: 12px;
		text-align: center;
		font-family: @headingsFontFamily;
	}
}