@media (min-width: 1200px) {

	body {

		> .container {

			.inner-wrapper {
				max-width: 970px;
			}
		}
	}

	#grid-bottom2 {

		.jss-slider {
			max-width: 970px;
		}
	}

	#featured {

		> [class*="moduletable"] {

			> div {
				background-size: 100% auto;
			}
		}
	}

	#grid-bottom,
	#grid-bottom2,
	#grid-bottom3,
	#featured {

		.jss-slider {
			padding-bottom: 100px !important;

			.jss-navigation {

				.jss-navigation-buttons {

					[class*="owl-"] {
						top: -60px;
					}

					.owl-prev {
						left: -105px;
					}

					.owl-next {
						right: -105px;
					}
				}
			}

			.owl-carousel {

				.owl-item img {
					max-width: 470px;
				}
			}
		}

		.jss-navigation {

			.jss-navigation-dots {
				bottom: 30px !important;
			}
		}
	}
}

@media (min-width: 980px) {

	body {

		> .container {

			.inner-wrapper {
				max-width: 880px;
			}
		}
	}

	#grid-bottom2 {

		.jss-slider {
			max-width: 880px;
		}
	}

	#toolbar {

		#nav-toolbar {

			.menu {
				width: 880px;
				margin: 0 auto;
				float: none;

				.dropdown-menu {

					li {

						&:not(:first-of-type) {
							border-top: 1px solid @color_five;
						}
					}

					.dropdown-menu {
						margin-left: 1px;
						top: -1px;
					}
				}

				a {
					font-size: @baseFontSize - 1;
				}

				> li {

					&:first-of-type {

						> a {
							padding-left: 0;
						}
					}

					&:last-of-type {

						> a {
							padding-right: 0;
						}
					}

					> .dropdown-menu {
						left: 15px;
					}
				}
			}
		}
	}

	#header {

		.navbar {
			margin-bottom: 0;

			.navbar-inner {
				background-image: none;
				.box-shadow(none);
				padding: 0;
				min-height: 50px;

				.nav {
					float: right;
					margin-right: 0;
					margin-top: 7px;

					& > .active {

						& > a,
						&:hover,
						&:focus {
							.box-shadow(none);
						}
					}

					& > li {
						position: relative;

						&:last-of-type > a {
							padding-right: 0;
						}

						& > a {
							font-weight: 400;
							padding-top: 10px;
							padding-bottom: 10px;
							text-transform: uppercase;
						}

						a {
							transition: all 0.2s linear 0s;
						}

						> .dropdown-menu {
							border-top: 4px solid @color_one;
							left: 15px;

							.dropdown-submenu {

								> .dropdown-menu {
									margin-left: 1px;
								}
							}
						}
					}
				}
			}
		}

		#menu_primary {
			position: absolute;
			right: 0;
			bottom: 0;
		}

		.dropdown-menu {

			li {

				&:not(:first-of-type) {
					border-top: 1px solid @color_five;
				}
			}
		}
	}
}

@media (max-width: 979px) {

	body {

		> .container {

			> .inner-wrapper {
				padding: 0 20px;
			}
		}
	}
}

@media (max-width: 767px) {

	.boxed-mobile {
		background: rgba(255, 255, 255, 0.7);
		padding: 20px;
	}
}